*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    background: url('../images/bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color: #fff;
}

.title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.form-container{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.weather-container{
    display: flex;
    justify-content: center;
}

.weather-display{
    width: 350px;
    height: 400px;
    padding: 20px 20px 20px 20px;
    border: 0px solid #fff;
    background: rgba(255,255,255,.65);
    border-radius: 2rem;
    box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.75);
    position: relative;  
}

.temp-value{
    padding-top: 10px;
    padding-bottom: 10px;
}

.temp-value p {
    font-size: 60px;
}
